html {
  font-size: 125%;
}

body {
  background-image: url(assets/greyfloral/greyfloral.png);

  font-family: "Open Sans", sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
