html {
  font-size: 125%;
}

body {
  background-image: url(assets/greyfloral/greyfloral.png);
  font-family: $bodyFont;
  font-size: 25px;
  color: $darkGrey;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: $headerFont;
}

h2 {
  font-size: 55px;
  padding: 50px;
  text-align: center;

  &:after {
    content: "";
    @include fancy;
    background-position: center;
  }
}

h3 {
  letter-spacing: 4px;
}

// question boxes
