h1 {
  font-size: 85px;
  text-align: left;
  padding: 50px;
  line-height: 1;
}

header {
  margin-top: 50px;
  .wrapper {
    background-color: $purple;
  }
}

.intro {
  position: relative;
}

.info {
  padding: 0 20px 50px 50px;
  display: flex;
  width: 80%;
}

.image {
  flex-basis: 20%;
  height: 80%;

  img {
    position: absolute;
    right: 10px;
    bottom: 0;
    max-height: 70%;
  }
}

header {
  p {
    padding-bottom: 40px;
  }
}
