// fonts
$headerFont: "Petit Formal Script", cursive;
$bodyFont: "Roboto", sans-serif;

// colours
$purple: rgba(211, 192, 205, 0.7);
$darkGrey: #333333;
$lightGrey: rgba(211, 211, 211, 0.7);

// layout
$textPadding: 20px 20px 50px 50px;
