a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
  opacity: 0.001;
}

html {
  font-size: 125%;
}

body {
  background-image: url(assets/greyfloral/greyfloral.png);
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #333333;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Cookie", cursive;
}

h2 {
  font-size: 55px;
  padding: 50px;
  text-align: center;
}

h2:after {
  content: "";
  background-position: center;
}

@media (min-width: 550px) {
  h2:after {
    background-image: url("assets/fancy.svg");
    height: 40px;
    width: 300px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

h3 {
  letter-spacing: 4px;
}

h1 {
  font-size: 85px;
  text-align: center;
  padding: 50px;
  line-height: 1;
}

header {
  margin-top: 50px;
}

header .wrapper {
  background-color: rgba(211, 192, 205, 0.7);
}

h1::after {
  content: "";
  background-position: left;
}

@media (min-width: 550px) {
  h1::after {
    background-image: url("assets/fancy.svg");
    height: 40px;
    width: 300px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

.intro {
  position: relative;
}

.info {
  padding: 0 20px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.image img {
  position: absolute;
  right: 10px;
  bottom: 0;
  max-height: 70%;
}

header p {
  padding-bottom: 40px;
}

main {
  margin-top: 50px;
}

.image2 {
  position: absolute;
  left: 65px;
  bottom: 100px;
}

.q1,
.q2,
.q3 {
  background-color: rgba(211, 211, 211, 0.7);
  padding: 0 50px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.q2 {
  margin-top: 50px;
  position: relative;
}

.q3 {
  margin-top: 50px;
}

.q3 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.optionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.optionContainer:focus-within {
  border: 2px solid purple;
}

.option {
  display: inline;
  text-align: center;
}

.option label {
  display: block;
  background-color: #333333;
  color: white;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  cursor: pointer;
}

.option label:hover, .option label:focus-within {
  background-color: rgba(211, 192, 205, 0.7);
  color: #333333;
  border: 2px solid #333333;
}

.option input:checked + label {
  background-color: #d3c0cd;
  color: #333333;
  border: 2px solid #333333;
}

.submitContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 75px;
}

.submitContainer input,
.submitContainer button {
  border-radius: 5px;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  padding: 10px 50px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.submitContainer input:hover,
.submitContainer button:hover {
  color: #333333;
  border: 2px solid #333333;
}

.submitContainer input:hover,
.submitContainer input:focus {
  background-color: rgba(211, 192, 205, 0.7);
}

.result {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(211, 192, 205, 0.7);
}

.result h3 {
  font-size: 100px;
  text-align: center;
}

.result h3:empty {
  display: none;
}

footer {
  background-color: rgba(211, 192, 205, 0.7);
  text-align: center;
}

footer p {
  font-size: 18px;
}

footer .restartContainer {
  padding: 20px;
}

footer .restartContainer input,
footer .restartContainer button {
  border-radius: 5px;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  padding: 10px 50px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

footer .restartContainer input:hover,
footer .restartContainer button:hover {
  color: #333333;
  border: 2px solid #333333;
}

footer .restartContainer button:hover,
footer .restartContainer button:focus {
  background-color: rgba(211, 211, 211, 0.7);
}

@media (max-width: 950px) {
  body {
    font-size: 20px;
  }
  header .description {
    max-width: 80%;
  }
  header .info {
    width: 100%;
  }
  main .optionContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .q1 .option,
  main .q2 .option,
  main .q3 .option {
    padding: 20px 0 0 0px;
  }
  main .image2 {
    left: 40px;
    bottom: 30px;
  }
}

@media (max-width: 680px) {
  header .info {
    padding: 20px;
  }
  header .image img {
    max-height: 50%;
  }
  main h1,
  main h2,
  main h3 {
    line-height: 1;
    padding: 35px;
  }
  main h1 {
    font-size: 50px;
  }
  main h2 {
    font-size: 45px;
  }
  main .result h3 {
    font-size: 60px;
  }
  main .q1,
  main .q2,
  main .q3 {
    padding: unset;
  }
  main .optionContainer {
    padding-bottom: 50px;
  }
  main .submitContainer {
    margin-top: 45px;
    padding-bottom: 50px;
  }
}

@media (max-width: 550px) {
  header .image img {
    display: none;
  }
  header .info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: unset;
  }
  main .image img,
  main .image2 img {
    display: none;
  }
  main .q3 input {
    width: 60%;
    margin: 0 auto;
  }
}

footer p {
  padding: 0 20px 10px 20px;
}
